peoplecounter_opencv413_venv*
peoplecounter_opencv413_venv3_ms.backup.tar
peoplecounter_opencv413_venv3_ms.backup.tar.*
wheelhouse/
models/
*.tar
*.tar.gz
*.zip
.venv/
__pycache__/
*.pyc
*.log
setup.log
setup_run.log
setup_run_ld.log
*.bak
*.cache
.vscode/
.git/
